@{
    ViewBag.Title = "Campañas";
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-sm green" title="Agregar" onclick="PopupForm('@Url.Action("AddOrEdit","Campañas")')">
        <i class="large material-icons">add_circle</i>
    </a>
</div>

<table id="campañasTable" class="table table-striped table-hover table-bordered compact" style="width:100%; text-transform: uppercase;">
    <tfoot>
        <tr>
        </tr>
    </tfoot>
</table>

@section scripts{

    <script>
        var Popup, dataTable, PopupCamp;
        $(document).ready(function () {
            dataTable = $("#campañasTable").DataTable({
                "ajax": {
                    "url": "Campañas/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Nombre", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Campaña",
                        "className": "dt-body-center text-left",
                    },
                    {
                        "data": "Descripcion", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Nombre",
                        "className": "dt-body-center text-left",
                    },
                    {
                        "data": "Generada", "render": function (data) {
                            if (data == "SI") {
                                return "<span>CERRADA</span>";
                            }
                            else {
                                return "<span>ABIERTA</span>";
                            }
                        },
                        "title": "Estatus",
                        "className": "dt-body-center text-center",
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            //if (row.Generada === "SI") {
                            //    return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            //}
                            //else {
                            return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("CreateCampArt", "Campañas")/" + data + "?cat=" + 'EQUITY' + "' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-calendar-check'></i></a>";
                            //}
                        },
                        "title": "Equity",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            //if (row.Generada === "SI") {
                            //    return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            //}
                            //else {
                            return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("CreateCampArt", "Campañas")/" + data + "?cat=" + 'FRANQUICIAS' + "' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-calendar-check'></i></a>";
                            //}
                        },
                        "title": "Franquicias",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            //if (row.Generada === "SI") {
                            //    return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            //}
                            //else {
                            return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("CreateCampArt", "Campañas")/" + data + "?cat=" + 'STOCK' + "' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-calendar-check'></i></a>";
                            //}
                        },
                        "title": "Stock",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            if (row.Generada === "SI") { // TODO: CAMBIAR A "NO"
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            }
                            else {
                                return "<a class='btn-danger btn-lg' style='background-color: transparent; cursor: pointer' onclick=CodesCampArt(" + data + ") ><i class='fas fa-barcode' style='color: #000'></i></a>";
                                //return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("CodesCampArt", "Campañas")/" + data +"' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-barcode'></i></a>";
                                //return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='#'><i style='color: #000' class='fas fa-ban'></i></a>";
                            }
                        },
                        "title": "Códigos",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            if (row.Generada === "SI") {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            }
                            else {
                                return "<a class='btn-danger btn-lg' style='background-color: transparent; cursor: pointer' onclick=CloseCampArt(" + data + ") ><i class='fas fa-times' style='color: #067655'></i></a>";
                            }
                        },
                        "title": "Cerrar",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            if (row.Generada === "SI") {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            }
                            else {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' onclick=PopupForm('@Url.Action("AddOrEdit","Campañas")/" + data + "')><i class='fas fa-pencil-alt'></i></a>";
                            }
                        },
                        "title": "Editar",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            if (row.Generada === "SI") {
                                return "<a class='btn-danger btn-lg' style='background-color: transparent; cursor: not-allowed'><i class='fas fa-ban' style='color: #067655'></i></a>";
                            }
                            else {
                                return "<a class='btn-danger btn-lg' style='background-color: transparent; cursor: pointer' onclick=Delete(" + data + ") ><i class='fas fa-trash' style='color: #067655'></i></a>";
                            }
                        },
                        "title": "Eliminar",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,

                    },
                    {
                        "data": "CampañaId", "render": function (data, type, row) {
                            if (row.Generada === "SI") { // TODO: CAMBIAR A "NO"
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                                @*return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("ResumenProveedor", "Campañas")/" + data +"' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-shipping-fast'></i></a>";*@
                            }
                            else {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' href='@Url.Action("ResumenProveedor", "Campañas")/" + data + "' onclick=(viewPageIndex())><i style='color: #000' class='fas fa-shipping-fast'></i></a>";
                            }
                        },
                        "title": "Resumen",
                        "className": "dt-body-center text-center",
                        "orderable": false,
                        "searchable": false,
                    },
                ],
                //"serverSide": true,
                "language": {
                    "emptyTable": "No hay datos, dar click en el botón <b>Agregar</b>",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sInfo": "_END_ registros",
                    "sInfoEmpty": "Registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "de un total de _MAX_",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<<",
                        "sLast": ">>",
                        "sNext": ">",
                        "sPrevious": "<"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Mostrar/Ocultar Columnas"
                    },
                    select: {
                        rows: {
                            _: "%d registros seleccionados",
                            0: "",
                            1: "1 registro seleccionado"
                        }
                    },
                },
                dom: 'lfrtip',
                //autoWidth: false,
                //fixedColumns: true,
                fixedColumns: {
                    leftColumns: 1,
                },
                //initComplete: function () {
                //    this.api().columns([0, 1]).every(function () {
                //        var column = this;
                //        var select = $('<select><option value="">=TODOS=</option></select>')
                //            .appendTo($(column.footer()).empty())
                //            .on('change', function () {
                //                var val = $.fn.dataTable.util.escapeRegex(
                //                    $(this).val()
                //                );

                //                column
                //                    .search(val ? '^' + val + '$' : '', true, false)
                //                    .draw();
                //            });

                //        column.data().unique().sort().each(function (d, j) {
                //            select.append('<option value="' + d + '">' + d + '</option>')
                //        });
                //    });
                //},
                stateSave: true,
                select: false,
                scrollY: true,
                scrollX: false,
                keys: true,
                'bLengthChange': true,
                'bInfo': true,
                "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
            });
        });

        //$(document).ready(function () {
        //    $("#campañasTable tbody tr").each(function () {
        //        if ($(this).find("td:eq(2)").value() == "SI") {
        //            $(this).prop('disabled', true);
        //        }
        //    });
        //});

        function PopupForm(url) {
            viewPage();
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'CAMPAÑAS',
                        width: 500,
                        modal: true,
                        closeOnEscape: false,
                        closeText: "Cerrar",
                        hide: { effect: "fade", duration: 550 },
                        show: { effect: "fade", duration: 550 },
                        close: function () {
                            Popup.dialog('destroy').remove();
                            hidePages();
                        }
                    });
                });
        }

        function PopupFormCamp(url) {
            viewPage();
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    PopupCamp = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'CAMPAÑAS',
                        width: '96vw',
                        modal: true,
                        closeOnEscape: false,
                        closeText: "Cerrar",
                        hide: { effect: "fade", duration: 550 },
                        show: { effect: "fade", duration: 550 },
                        close: function () {
                            PopupCamp.dialog('destroy').remove();
                            hidePages();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success",
                                autoHide: true,
                                autoHideDelay: 2000,
                            })

                        }
                    }
                });
            }
            return false;
        }


        function CloseCampArt(id) {
            Swal.fire({
                title: '¿ Cerrar Campaña ?',
                //text: "You won't be able to revert this!",
                //icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#067655',
                cancelButtonColor: '#067655',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.value) {
                    hidePage();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CloseCampArt", "Campañas")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                                viewPage();
                            }
                        }

                    });
                }
            })

        }

        function CodesCampArt(id) {
            Swal.fire({
                title: '¿ Genrar Códigos ?',
                //text: "You won't be able to revert this!",
                //icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#067655',
                cancelButtonColor: '#067655',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.value) {
                    hidePage();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CodesCampArt", "Campañas")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                                viewPage();
                            }
                        }

                    });
                }
            })

        }

        function Delete(id) {
            Swal.fire({
                title: '¿ Eliminar Campaña ?',
                //text: "You won't be able to revert this!",
                //icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#067655',
                cancelButtonColor: '#067655',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.value) {
                    hidePage();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Campañas")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                                viewPage();
                            }
                        }

                    });
                }
            })

        }

    </script>
}