@model CampaniasSB.Models.Tienda
@{
}

@using (Html.BeginForm("AddOrEdit", "Restaurantes", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.TiendaId)
    @Html.HiddenFor(model => model.EquityFranquicia)

    @Html.HiddenFor(model => model.TerceraReceta)
    @Html.HiddenFor(model => model.Arroz)
    @Html.HiddenFor(model => model.Hamburgesas)
    @Html.HiddenFor(model => model.Ensalada)
    @Html.HiddenFor(model => model.PET2Litros)
    @Html.HiddenFor(model => model.Postres)
    @Html.HiddenFor(model => model.BisquetMiel)
    @Html.HiddenFor(model => model.KeCono)
    @Html.HiddenFor(model => model.KREAMBALL)

    @Html.HiddenFor(model => model.MenuBackLigth)
    @Html.HiddenFor(model => model.Autoexpress)
    @Html.HiddenFor(model => model.AEMedidaEspecial)
    @Html.HiddenFor(model => model.CopeteAERemodelado)
    @Html.HiddenFor(model => model.CopeteAETradicional)
    @Html.HiddenFor(model => model.PanelDeInnovacion)
    @Html.HiddenFor(model => model.DisplayDeBurbuja)
    @Html.HiddenFor(model => model.Delivery)
    @Html.HiddenFor(model => model.MERCADO_DE_PRUEBA)
    @Html.HiddenFor(model => model.AreaDeJuegos)
    @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS)
    @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L)
    @Html.HiddenFor(model => model.DisplayDePiso)
    @Html.HiddenFor(model => model.WCNACIONAL67X100cm)
    @Html.HiddenFor(model => model.AEHolding)
    @Html.HiddenFor(model => model.AECaribe)
    @Html.HiddenFor(model => model.PanelComplementosHolding)
    @Html.HiddenFor(model => model.PanelDeComplementosSinArrozSin3raReceta)
    @Html.HiddenFor(model => model.PanelALaCartaCaribe)
    @Html.HiddenFor(model => model.PanelALaCartaCaribeSin3raReceta)
    @Html.HiddenFor(model => model.PanelALaCartaHolding)
    @Html.HiddenFor(model => model.PanelALaCartaHoldingSin3raReceta)
    @Html.HiddenFor(model => model.PanelDeComplementosDigital)
    @Html.HiddenFor(model => model.PanelComplementosHoldingMR)
    @Html.HiddenFor(model => model.StickerNavidad)
    @Html.HiddenFor(model => model.AreaDeJuegos)

    @Html.HiddenFor(model => model.TipoDeCajaId)
    @Html.HiddenFor(model => model.AcomodoDeCajas)
    @Html.HiddenFor(model => model.NoMesaDeAreaComedor)
    @Html.HiddenFor(model => model.NumeroDeVentanas)
    @Html.HiddenFor(model => model.UbicacionPantallas)
    @Html.HiddenFor(model => model.Telefono)
    @Html.HiddenFor(model => model.TelefonoPersonalizado)

    @*@Html.HiddenFor(model => model.Observaciones)
        @Html.HiddenFor(model => model.Activo)
            @Html.HiddenFor(model => model.Clasificacion)
            @Html.HiddenFor(model => model.CCoFranquicia)
            @Html.HiddenFor(model => model.Restaurante)
            @Html.HiddenFor(model => model.RegionId)
            @Html.HiddenFor(model => model.CiudadId)
            @Html.HiddenFor(model => model.Direccion)*@

    @Html.HiddenFor(model => model.WCMedidaEspecial60_8x85cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
    @Html.HiddenFor(model => model.MedidaEspecialPanelDeComplementos)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
    @Html.HiddenFor(model => model.MEDIDA_BACKLIGHT_55_5X75_5CM)
    @Html.HiddenFor(model => model.MEDIDA_BACKLIGHT_59_5X79CM)
    @Html.HiddenFor(model => model.MEDIDAS_ESPECIALES_MENU)

    @Html.HiddenFor(model => model.TipoId)
    @Html.HiddenFor(model => model.NuevoNivelDePrecioId)
    @Html.HiddenFor(model => model.MenuDigital)
    @Html.HiddenFor(model => model.CantidadDePantallas)




    @Html.HiddenFor(model => model.Eliminado)

    <div class="input-field col-sm-12" style="text-transform: uppercase !important">
        @if (Model.TiendaId == 0)
        {
            <h6 class="red-text center-align"><strong>AGREGAR RESTAURANTE</strong></h6>
        }
        else if (Model.TiendaId != 0)
        {
            <h6 class="red-text center-align"><strong>MODIFICAR RESTAURANTE</strong></h6>
        }
    </div>

    <div class="row">
        <div class="input-field col-sm-12" style="text-transform: uppercase !important">
            @Html.EditorFor(model => model.Restaurante, new { htmlAttributes = new { @type = "text", @class = "validate", @required = "true", style = "text-transform: uppercase !important" } })
            <label class="active" for="Restaurante">Restaurante</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-sm-12" style="text-transform: uppercase !important">
            @Html.TextAreaFor(model => model.Direccion, new { @class = "materialize-textarea validate", @required = "true", style = "text-transform: uppercase !important" })
            <label class="active" for="Direccion">Dirección</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group focus col-sm-6" style="text-transform: uppercase !important;">
            <label for="RegionId">Región</label>
            <div class="customselect">
                @Html.DropDownList("RegionId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[4].Watermark, htmlAttributes: new { @class = "form-control form-control-select clgfocus", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
            </div>
            <span class="focus-border"></span>
        </div>
        <div class="form-group focus col-sm-6" style="text-transform: uppercase !important">
            <label for="CiudadId">Ciudad</label>
            <div class="customselect">
                @Html.DropDownList("CiudadId", null, ((IList<ModelMetadata>)ViewData.ModelMetadata.Properties)[5].Watermark, htmlAttributes: new { @class = "form-control form-control-select clgfocus", @type = "text", @required = "true", style = "text-transform: uppercase", @oninvalid = "setCustomValidity('Seleccionar un elemento de la lista')", @oninput = "setCustomValidity('')" })
            </div>
            <span class="focus-border"></span>
        </div>
    </div>

    if (Model.TiendaId == 0)
    {
        <div class="row">
            <div class="input-field col-sm-6" style="padding-right: 10px;">
                @Html.EditorFor(model => model.Clasificacion, new { htmlAttributes = new { @type = "text", @class = "validate center-align", style = "text-transform: uppercase !important" } })
                <label class="active" for="Clasificacion">Clasificación</label>
            </div>

            <div class="input-field col-sm-6" style="padding-right: 10px;">
                @Html.EditorFor(model => model.CCoFranquicia, new { htmlAttributes = new { @type = "text", @class = "validate center-align", @required = "true", style = "text-transform: uppercase !important" } })
                <label class="active" for="CCoFranquicia">C.C.</label>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="input-field col-sm-4" style="padding-right: 10px;">
                @Html.EditorFor(model => model.Clasificacion, new { htmlAttributes = new { @type = "text", @class = "validate center-align", style = "text-transform: uppercase !important" } })
                <label class="active" for="Clasificacion">Clasificación</label>
            </div>

            <div class="input-field col-sm-4" style="padding-right: 10px;">
                @Html.EditorFor(model => model.CCoFranquicia, new { htmlAttributes = new { @type = "text", @class = "validate center-align", @required = "true", style = "text-transform: uppercase !important" } })
                <label class="active" for="CCoFranquicia">C.C.</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.Activo, new { @class = "switch_1" })
                <label class="active" for="Activo">Activo</label>
            </div>
        </div>
    }

    <div class="row">
        <div class="input-field col-sm-12" style="text-transform: uppercase !important">
            @Html.TextAreaFor(model => model.Observaciones, new { @class = "materialize-textarea validate", style = "text-transform: uppercase !important" })
            <label class="active" for="Observaciones">Observaciones</label>
        </div>
    </div>

    <div class="center-align col-sm-12">
        <button type="submit" title="Aceptar" id="Aceptar" class="btn-floating btn-sm green" style="border-radius: 50%" onclick="hidePage()">
            <i class="large material-icons">check</i>
        </button>
    </div>
}
