@model CampaniasSB.Models.Tienda
@{
}

@using (Html.BeginForm("EditCME", "Restaurantes", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.TiendaId)
    @Html.HiddenFor(model => model.EquityFranquicia)

    @Html.HiddenFor(model => model.TerceraReceta)
    @Html.HiddenFor(model => model.Arroz)
    @Html.HiddenFor(model => model.Hamburgesas)
    @Html.HiddenFor(model => model.Ensalada)
    @Html.HiddenFor(model => model.PET2Litros)
    @Html.HiddenFor(model => model.Postres)
    @Html.HiddenFor(model => model.BisquetMiel)
    @Html.HiddenFor(model => model.KeCono)
    @Html.HiddenFor(model => model.KREAMBALL)

    @*@Html.HiddenFor(model => model.MenuBackLigth)
        @Html.HiddenFor(model => model.Autoexpress)
        @Html.HiddenFor(model => model.AEMedidaEspecial)
        @Html.HiddenFor(model => model.CopeteAERemodelado)
        @Html.HiddenFor(model => model.CopeteAETradicional)
        @Html.HiddenFor(model => model.PanelDeInnovacion)
        @Html.HiddenFor(model => model.DisplayDeBurbuja)
        @Html.HiddenFor(model => model.Delivery)
        @Html.HiddenFor(model => model.MERCADO_DE_PRUEBA)
        @Html.HiddenFor(model => model.AreaDeJuegos)
        @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS)
        @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L)
        @Html.HiddenFor(model => model.DisplayDePiso)
        @Html.HiddenFor(model => model.WCNACIONAL67X100cm)
        @Html.HiddenFor(model => model.AEHolding)
        @Html.HiddenFor(model => model.AECaribe)
        @Html.HiddenFor(model => model.PanelComplementosHolding)
        @Html.HiddenFor(model => model.PanelDeComplementosSinArrozSin3raReceta)
        @Html.HiddenFor(model => model.PanelALaCartaCaribe)
        @Html.HiddenFor(model => model.PanelALaCartaCaribeSin3raReceta)
        @Html.HiddenFor(model => model.PanelALaCartaHolding)
        @Html.HiddenFor(model => model.PanelALaCartaHoldingSin3raReceta)*@

    @Html.HiddenFor(model => model.WCMedidaEspecial60_8x85cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_MALL_ORIENTE_100x120cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_ZUAZUA_87x120cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_CORREO_MAYOR_60x90cm)
    @Html.HiddenFor(model => model.WC_MEDIDA_ESPECIAL_ZARAGOZA_90x100cm)
    @Html.HiddenFor(model => model.MedidaEspecialPanelDeComplementos)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_PRE_MENU_AE_SAN_ANTONIO_49x67_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_TECAMAC_48x67_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_VILLA_GARCIA_45x65cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_XOLA_49_9x66_9cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_ZUAZUA_51x71cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_VALLE_SOLEADO_51x71cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_MIRASIERRA_46x68cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_CELAYA_50x68_5cm)
    @Html.HiddenFor(model => model.MEDIDA_ESPECIAL_AE_CANDILES_49_5x73_5cm)
    @Html.HiddenFor(model => model.MEDIDA_BACKLIGHT_55_5X75_5CM)
    @Html.HiddenFor(model => model.MEDIDA_BACKLIGHT_59_5X79CM)
    @Html.HiddenFor(model => model.MEDIDAS_ESPECIALES_MENU)

    @Html.HiddenFor(model => model.TipoDeCajaId)
    @Html.HiddenFor(model => model.AcomodoDeCajas)
    @Html.HiddenFor(model => model.NoMesaDeAreaComedor)
    @Html.HiddenFor(model => model.NoMesaDeAreaDeJuegos)
    @Html.HiddenFor(model => model.NumeroDeVentanas)
    @Html.HiddenFor(model => model.UbicacionPantallas)
    @Html.HiddenFor(model => model.Telefono)
    @Html.HiddenFor(model => model.TelefonoPersonalizado)

    @Html.HiddenFor(model => model.Observaciones)
    @Html.HiddenFor(model => model.Activo)
    @Html.HiddenFor(model => model.Clasificacion)
    @Html.HiddenFor(model => model.CCoFranquicia)
    @Html.HiddenFor(model => model.Restaurante)
    @Html.HiddenFor(model => model.RegionId)
    @Html.HiddenFor(model => model.CiudadId)
    @Html.HiddenFor(model => model.Direccion)

    @Html.HiddenFor(model => model.TipoId)
    @Html.HiddenFor(model => model.NuevoNivelDePrecioId)
    @Html.HiddenFor(model => model.MenuDigital)
    @Html.HiddenFor(model => model.CantidadDePantallas)


    if (Model.EquityFranquicia == "EQUITY")
    {
        @Html.HiddenFor(model => model.AEMedidaEspecial)
        @Html.HiddenFor(model => model.DisplayDePiso)
        @Html.HiddenFor(model => model.WCNACIONAL67X100cm)
        @Html.HiddenFor(model => model.PanelComplementosHoldingMR)
    }
    else if (Model.EquityFranquicia == "FRANQUICIAS")
    {
        @Html.HiddenFor(model => model.MERCADO_DE_PRUEBA)
        @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS)
        @Html.HiddenFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L)
        @Html.HiddenFor(model => model.MenuBackLigth)
        @Html.HiddenFor(model => model.PanelKids)
        @Html.HiddenFor(model => model.StickerNavidad)
        @Html.HiddenFor(model => model.AreaDeJuegos)
        @Html.HiddenFor(model => model.PanelDeComplementosDigital)
    }

    <div class="input-field col-sm-12" style="text-transform: uppercase !important; margin-top: -10px">
        <h6 class="red-text center-align"><strong>CONFIGURACIÓN POR MATERIALES ESPECIFICOS</strong></h6>
    </div>

    <div>
        <div class="input-field col-sm-12" style="text-transform: uppercase !important">
            <input type="text" value="@Model.Restaurante" disabled style="text-transform: uppercase" />
            <label class="active" for="Restaurante">Restaurante</label>
        </div>
    </div>

    <div class="row">

        <div class="input-field center-align col-sm-4">
            @Html.CheckBoxFor(model => model.Autoexpress, new { @class = "switch_1" })
            <label class="active" for="Autoexpress">Autoexpress</label>
        </div>

        @if (Model.EquityFranquicia == "FRANQUICIAS")
        {
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.AEMedidaEspecial, new { @class = "switch_1" })
                <label class="active" for="AEMedidaEspecial">AE Medida Especial</label>
            </div>
        }
        else if (Model.EquityFranquicia == "EQUITY")
        {

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.MenuBackLigth, new { @class = "switch_1" })
                <label class="active" for="MenuBackLigth">Menú BackLigth</label>
            </div>

        }

        <div class="input-field center-align col-sm-4">
            @Html.CheckBoxFor(model => model.CopeteAERemodelado, new { @class = "switch_1" })
            <label class="active" for="CopeteAERemodelado">Copete AE Remodelado</label>
        </div>

    </div>

    <div class="row">
        <div class="input-field center-align col-sm-4">
            @Html.CheckBoxFor(model => model.CopeteAETradicional, new { @class = "switch_1" })
            <label class="active" for="CopeteAETradicional">Copete AE Tradicional</label>
        </div>

        @if (Model.EquityFranquicia == "FRANQUICIAS")
        {
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelDeInnovacion, new { @class = "switch_1" })
                <label class="active" for="PanelDeInnovacion">Panel Innovación</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.DisplayDeBurbuja, new { @class = "switch_1" })
                <label class="active" for="DisplayDeBurbuja">Display De Burbuja</label>
            </div>

        }
        else if (Model.EquityFranquicia == "EQUITY")
        {
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelDeInnovacion, new { @class = "switch_1" })
                <label class="active" for="PanelDeInnovacion">Panel Innovación</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.DisplayDeBurbuja, new { @class = "switch_1" })
                <label class="active" for="DisplayDeBurbuja">Display De Burbuja</label>
            </div>
        }
    </div>

    <div class="row">
        @if (Model.EquityFranquicia == "EQUITY")
        {

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.Delivery, new { @class = "switch_1" })
                <label class="active" for="Delivery">Delivery</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.AreaDeJuegos, new { @class = "switch_1" })
                <label class="active" for="AreaDeJuegos">Area De Juegos</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.MERCADO_DE_PRUEBA, new { @class = "switch_1" })
                <label class="active" for="MERCADO_DE_PRUEBA">MERCADO DE PRUEBA</label>
            </div>
        }
        else if (Model.EquityFranquicia == "FRANQUICIAS")
        {
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.Delivery, new { @class = "switch_1" })
                <label class="active" for="Delivery">Delivery</label>
            </div>

            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.DisplayDePiso, new { @class = "switch_1" })
                <label class="active" for="DisplayDePiso">Display De Piso</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.WCNACIONAL67X100cm, new { @class = "switch_1" })
                <label class="active" for="WCNACIONAL67X100cm">WC NACIONAL 67X100cm</label>
            </div>
        }
    </div>

    if (Model.EquityFranquicia == "FRANQUICIAS")
    {
        <div class="row">
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.AEHolding, new { @class = "switch_1" })
                <label class="active" for="AEHolding">AE Holding</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.AECaribe, new { @class = "switch_1" })
                <label class="active" for="AECaribe">AE Caribe</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelComplementosHolding, new { @class = "switch_1" })
                <label class="active" for="PanelComplementosHolding">Panel Complementos Holding</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelDeComplementosSinArrozSin3raReceta, new { @class = "switch_1" })
                <label class="active" for="PanelDeComplementosSinArrozSin3raReceta">Panel De Complementos Sin Arroz Sin 3ra Receta</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelALaCartaCaribe, new { @class = "switch_1" })
                <label class="active" for="PanelALaCartaCaribe">Panel A La Carta Caribe</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelALaCartaCaribeSin3raReceta, new { @class = "switch_1" })
                <label class="active" for="PanelALaCartaCaribeSin3raReceta">Panel A La Carta Caribe Sin 3ra Receta</label>
            </div>
        </div>
    }

    if (Model.EquityFranquicia == "EQUITY")
    {
        <div class="row">
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS, new { @class = "switch_1" })
                <label class="active" for="COPETE_ESPECIAL_SOPORTE_LATERAL_4_VASOS">COPETE ESPECIAL SOPORTE LATERAL 4 VASOS</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L, new { @class = "switch_1" })
                <label class="active" for="COPETE_ESPECIAL_SOPORTE_LATERAL_PET_2L">COPETE ESPECIAL SOPORTE LATERAL PET 2L</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelDeComplementosDigital, new { @class = "switch_1" })
                <label class="active" for="PanelDeComplementosDigital">Panel De Complementos Digital</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelKids, new { @class = "switch_1" })
                <label class="active" for="PanelKids">PANEL KIDS</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.StickerNavidad, new { @class = "switch_1" })
                <label class="active" for="StickerNavidad">STICKER NAVIDAD</label>
            </div>
        </div>
    }
    else if (Model.EquityFranquicia == "FRANQUICIAS")
    {
        <div class="row">
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelALaCartaHolding, new { @class = "switch_1" })
                <label class="active" for="PanelALaCartaHolding">Panel A La Carta Holding</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelALaCartaHoldingSin3raReceta, new { @class = "switch_1" })
                <label class="active" for="PanelALaCartaHoldingSin3raReceta">Panel A La Carta Holding Sin 3ra Receta</label>
            </div>
            <div class="input-field center-align col-sm-4">
                @Html.CheckBoxFor(model => model.PanelComplementosHoldingMR, new { @class = "switch_1" })
                <label class="active" for="PanelComplementosHoldingMR">Panel De Complementos Holding MR</label>
            </div>
        </div>
    }


    <div class="center-align col-sm-12">
        <button type="submit" title="Aceptar" class="btn-floating btn-sm green" style="border-radius: 50%" onclick="hidePage()">
            <i class="large material-icons">check</i>
        </button>

        @*<button type="reset" title="Reset" class="btn-floating btn-sm green" style="border-radius: 50%">
                <i class="large material-icons">arrow_back</i>
            </button>*@
    </div>
}



